body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('imagens/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #0d0d12;
    color: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
    margin: 500px auto;
    overflow: hidden;
    z-index: 1;
}

.container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(#6a00ff,
            #6a00ff,
            transparent,
            transparent,
            #6a00ff);
    animation: girarBorda 4s linear infinite;
    z-index: -1;
}

.container::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: #0d0d12;
    border-radius: 10px;
    z-index: -1;
}

@keyframes girarBorda {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

h2::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #6a00ff;
    display: block;
    margin: 8px auto 0;
    border-radius: 2px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    background: #1a1a2e;
    color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

input::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    background: linear-gradient(45deg, #6a00ff, #00d4ff);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6a00ff;
}

.error {
    color: red;
    font-size: 12px;
}

#formMessage {
    margin-top: 10px;
    text-align: center;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #6a00ff;
    box-shadow: 0 0 8px #6a00ff;
}